@using EmployeeDetails.ViewModel
@using EmployeeDetails.Models
@model EmployeeViewModel


<h2>Hello @Model.UserName</h2>
<div>
    <table>

        <tr>
            <th>
                Employee ID
            </th>
            <th>
                Employee Name
            </th>
            <th>
                Salary
            </th>
            <th>
                Gender
            </th>

        </tr>
        @foreach (Employee item in Model.Employees)
        {
            <tr>
                <td>@item.EmployeeID</td>
                <td>@item.EmployeName</td>
                <td>@item.Salary</td>
                <td>@item.Gender</td>
            </tr>
        }
    </table>


</div>