@using EmployeeDetails.ViewModel
@using EmployeeDetails.Models
@model EmployeeViewModel

<html>
<head>
    <title>

    </title>

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-grid.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
</head>
<body>
    <div>
        <table>

            <tr>
                <th>
                    Employee ID
                </th>
                <th>
                    Employee Name
                </th>
                <th>
                    Salary
                </th>
                <th>
                    Gender
                </th>

            </tr>
            @foreach (Employee item in Model.Employees)
            {
                <tr>
                    <td>@item.EmployeeID</td>
                    <td>@item.EmployeeName</td>
                    <td>@item.Salary</td>
                    <td>@item.Gender</td>
                </tr>
            }
        </table>

        @Html.ActionLink("Create Employee", "CreateEmployee")

    </div>
</body>
</html>
